html {
    box-sizing: border-box;
}
* {
    margin: 0;

}
body {
    background-color: #D9D9D9;
    font-family: Montserrat;
    align-items: center;
}
.header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    height: 50px;
}

#logo {
    padding-top: 1rem;
    padding-left: 1rem;
}

.main-picture {
    height: 400px;
    width: 1080px;
    margin: 0 auto;
    background-image: url(../IMG/bigSize.jpg);
    background-position: 0 -50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-section {
    height: 400px;
}

.horisontal-menu, .div-1 {
    max-width: 980px;
    margin: 0 auto;
    height: 70px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.div-1-div {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    border-left: #444 1px solid;
}

.div-2 {
    display: block;
    height: 500px;
    max-width: 980px;
    margin: 0 auto;
    padding: 30px 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}