/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.div-0 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: aquamarine;
    height: 400px;
    width: 100%;
    opacity: .2;
}

.s1 {  
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: black;
}

.left-div {
    height: 400px;
    width: 200px;
    background-color:brown;
}

.rigth-div {
    height: 400px;
    width: 80%;
    background-color: blue;
}