form {
    /* width: 80%; */
    padding: 50px;
    margin: auto auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: grey;
}

input {
    text-align: center;
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
}

button {
    display: block;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    height: 50px;
    width: 100px;
}